*{
  box-sizing: border-box;
}

body{
  margin: 0;
}
/* Intro */

.header{
  width: 100%;
  height: 616px;
  background-image: url(./images/puntitos.png);
}

.nav{
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 769px){
  .nav{
    padding-top: 36px;
  }
}

.logo-fondo-blanco, .burger{
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

@media (min-width: 769px){
  .logo-fondo-blanco{
    width: 109px;
    height: 109px;
    margin: 36px 80px 0;
  }

  .burger{
    display: none;
  }
}

.menu{
  display: none;
}

@media (min-width: 769px){
  .menu{
    display: flex;
    width: 428px;
    margin-right: 103px;
    justify-content: space-between;
  }

  .menu-boton{
    border: none;
    background-color: white;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
}

.intro{
  width: 100%;
  height: 526px;
  display: grid;
  justify-items: center;
  align-items: end;
}

@media (min-width: 769px){
  .intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 84px;
  }
}

.titulo{
  margin: 0;
  width: 291px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1px;
}

@media (min-width: 769px){
  .titulo{
    text-align: left;
    padding-bottom: 160px;
  }
}

.jime{
  width: 300px;
  height: 300px;
}

@media (min-width: 769px){
  .jime{
    width: 400px;
    height: 400px;
    align-self: end;
  }
}

/* Sección Presentación */

.presentation{
  background-color: #141414;
  width: 100%;
  height: 538px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px){
  .presentation{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.contenedor-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px){
  .contenedor-texto{
    align-items: flex-start;
  }
}

.subtitulo-secc-presentacion{
  color: #FAFAFA;
  margin: 0;
  padding: 55px 0 41px;
  font-family: 'Open Sans';
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -2px;
}

.parrafo-fondo-negro{
  color: #FAFAFA;
  width: 312px;
  margin: 0;
  padding: 0 0 57px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media (min-width: 1000px){
  .parrafo-fondo-negro{
    width: 532px;
  }
}

.check{
  width: 80px;
  height: 80px;
}

@media (min-width: 769px){
  .check{
    width: 211px;
    height: 211px;
    margin-right: 95px;
  }
}

/* Sección Servicios */

.services{
  width: 100%;
  height: 1375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1000px){
  .services{
    height: 604px;
  }
}

.contenedor-servicios{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1000px){
  .contenedor-servicios{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}

.subtitulo-fondo-blanco{
  font-family: 'Open Sans';
  width: 271px;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -2px;

  margin: 0;
  padding: 70px 0 48px;
  text-align: center;
}

@media (min-width: 1000px){
  .subtitulo-fondo-blanco{
    width: 403px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1px;
  }
}

.servicio-uno, .servicio-dos, .servicio-tres{
  width: 262px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop{
  width: 138px;
  height: 138px;
}

.subtitulo-nivel-tres{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  margin: 0;
  padding: 14px 0 15px;
}

.parrafo-fondo-blanco{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}

/* Sección Form */

.form{
  background-color: #141414;
  width: 100%;
  height: 660px;
  display: grid;
  justify-content: center;
}

@media (min-width: 769px){
  .form{
    display: flex;
    gap: 77px;
  }
}

.subtitulo-secc-form{
  color: #FAFAFA;
  margin: 0;
  padding-top: 65px;

  font-family: 'Open Sans';
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -2px;
  text-align: center;
}

@media (min-width: 769px){
  .subtitulo-secc-form{
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1px;

    padding-top: 116px;
  }
}

.contenedor-form{
  width: 100%;
  height: 428px;
  display: grid;
  gap: 21px;
  margin-bottom: 70px;
}

@media (min-width: 769px){
  .contenedor-form{
    padding-top: 116px;
    width: 376px;
  }
}

.label{
  color: #FAFAFA;
  display: grid;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

.input-text, .textarea {
  background-color: #FFFFFF;
  border: none;
  font-family: "Roboto";
  font-size: 13px;
  margin-top: 9px;
  width: 100%;
  height: 45px;
}

.textarea{
  min-height: 113px;
}

.button{
  background-color: #612CCE;
  border: none;
  border-radius: 4px;
  width: 335px;
  height: 45px;
  margin-top: 39px;

  color: #FFFFFF;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

@media (min-width: 769px){
  .button{
    width: 376px;
  }
}

/* Footer */

.footer{
  background-color: #eeeeee;
  width: 100%;
  height: 493px;
}

@media (min-width: 769px){
  .footer{
    height: 346px;
    background-image: url(./images/puntitos.png);
  }
}

.contenedor-footer{
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px){
  .contenedor-footer{
    height: 100%;
    margin: 0 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.copyright{
  display: grid;
  gap: 18px;
  padding: 53px 0 85px 16px;
}

.logo-fondo-gris{
  width: 77px;
  height: 77px;
}

.caption{
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

.informacion-de-contacto{
  display: grid;
  gap: 25px;
  padding-left: 16px;
}

.logo-redes{
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

.link{
  color: #2C2C2C;
  padding-left: 6px;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}